
<div class="back">
    <form action="" class="login-box" autocomplete="on">
        <div class="title">
            <h1>LOGIN</h1>
        </div>
        <div class="input-box">
            <input type="text" name="" required class="input" id="EDV">
            <label for="username">EDV</label>
        </div>
        <div class="input-box">
            <input type="password" name="" required class="input pass-input" id="password">
            <img src="assets/img/view.png" class="view-pass" alt="">
            <label for="password">Senha</label>
        </div>
        <div class="remember-me">
            <input type="checkbox" checked name="" id="checkbox">
            <label for="checkbox">Lembrar Senha</label>
        </div>
        <button type="submit" (click)="login()">Entrar</button>
        <div class="auth-action">
            
            <a href="#">Esqueceu a Senha?</a>
        </div>
    </form>

</div>
